<?php

$CONFIG = [
    'memcache.local' => '\\OC\\Memcache\\APCu',
    'memcache.distributed' => '\\OC\\Memcache\\Redis',
    'memcache.locking' => '\\OC\\Memcache\\Redis',
    'redis' => [
        'host' => '{{ nextcloud_redis_container }}',
        'port' => 6379,
    ],
];