# UniFi MongoDB environment
# Managed by Ansible - created once if missing.
# Update credentials on the target host as needed.

MONGO_INITDB_ROOT_USERNAME={{ unifi_mongo_root_user }}
MONGO_INITDB_ROOT_PASSWORD={{ unifi_mongo_root_pass }}
MONGO_USER={{ unifi_mongo_user }}
MONGO_PASS={{ unifi_mongo_pass }}
MONGO_DBNAME={{ unifi_mongo_dbname }}
MONGO_AUTHSOURCE={{ unifi_mongo_auth_source }}
MONGO_HOST={{ unifi_mongo_host }}
MONGO_PORT={{ unifi_mongo_port }}
