# AdGuard Home Sync Environment Variables
# Managed by Ansible
# This file contains sensitive credentials
# See: https://github.com/bakito/adguardhome-sync#config-via-environment-variables

# Origin AdGuard Home credentials
ORIGIN_URL={{ adguardhome_sync_origin_url }}
ORIGIN_USERNAME={{ adguardhome_sync_origin_username }}
ORIGIN_PASSWORD={{ adguardhome_sync_origin_password }}

{% for replica in adguardhome_sync_replicas %}
# Replica {{ loop.index }} credentials
REPLICA{{ loop.index }}_URL={{ replica.url }}
REPLICA{{ loop.index }}_USERNAME={{ replica.username }}
REPLICA{{ loop.index }}_PASSWORD={{ replica.password }}
{% if replica.insecureSkipVerify | default(false) %}
REPLICA{{ loop.index }}_INSECURE_SKIP_VERIFY=true
{% endif %}
{% endfor %}

{% if adguardhome_sync_api_enabled %}
# API credentials  
API_USERNAME={{ adguardhome_sync_api_username }}
API_PASSWORD={{ adguardhome_sync_api_password }}
{% endif %}
